@model IEnumerable<LoginMvc.Models.tripposts>

@{
    ViewBag.Title = "ProfileOfTraveller";
    Layout = "~/Views/Login/Login.cshtml"; }





<header class="top-area">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo">
                        <a href="index.html">
                            tour<span>Nest</span>
                        </a>
                    </div><!-- /.logo-->
                </div><!-- /.col-->
                <div class="col-sm-10">
                    <div class="main-menu">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button><!-- / button-->
                        </div><!-- /.navbar-header-->
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="smooth-menu"><a href="#home">home</a></li>
                                <li class="smooth-menu"><a href="#pack">Packages </a></li>

                                <li>
                                    <a href="LogOut" class="book-btn">
                                        <span>Logout</span>
                                        <i class="tm-logout-icon"></i>

                                    </a>

                                </li>

                                <li>
                                    <a href="TravellerDashbord" class="book-btn">
                                        <span>Go To Profile</span>
                                        <i class="tm-logout-icon"></i>

                                    </a>

                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.main-menu-->
                </div><!-- /.col-->
            </div><!-- /.row -->
            <div class="home-border"></div><!-- /.home-border-->
        </div><!-- /.container-->
    </div><!-- /.header-area -->

</header><!-- /.top-area-->



<section id="home" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>
                                Explore the Beauty of the Beautiful World

                            </h2>
                            <div class="about-btn">
                                <button class="about-view">
                                    explore now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.about-us-txt-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div><!--/.single-about-us-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-us-content-->
    </div><!--/.container-->

</section><!--/.about-us--> <!--about-us end --> <!--travel-box start--> <!--service start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                special packages
            </h2>


            <form action="ProfileOfTraveller" class="example">
                <div class="project-details">
                    Search By :
                    @Html.RadioButton("searchBy", "agencyname", true) <text>Agency Name</text>
                    @Html.RadioButton("searchBy", "tripdestination") <text>Trip Destination</text>
                    @Html.RadioButton("searchBy", "tripdate") <text>Trip Date</text><br />
                    @Html.TextBox("search")
                    <input class="btn btn-primary" type="submit" value="search" name="submit" />

                </div>
            </form>

        </div><!--/.gallery-header-->

        <div class="packages-content">
            <div class="row">

                @foreach (var post in Model)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="single-package-item">

                            <img src="@Url.Content(post.tripimage)" style="height:150px" />

                            <div class="single-package-item-txt">


                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-angle-right"></i>  @Html.DisplayFor(m => post.tripdate)
                                        </span>
                                        <span>
                                            <i class="fa fa-angle-right"></i>   @Html.DisplayFor(m => post.agencyname)
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            <i class="fa fa-angle-right"></i>    @Html.DisplayFor(m => post.tripdesctiption)
                                        </span>

                                    </p>

                                
                                </div><!--/.packages-para-->

                                <div class="packages-para">

                                    <a  href="@Url.Action("savePost", "Traveller", new { id = post.id })">
                                        
                                        <button class="btn" style="width:310px">
                                            Save Post
                                        </button>
                                    </a>

                                </div><!--/.single-package-item-txt-->
                                <div >
                                    <a href="@Url.Action("likes",new { id = post.id })">

                                        <button class="btn icon-btn btn-primary" style="width:120px">
                                            Like
                                        </button>

                                    </a>
                                    
                                    <a href="@Url.Action("dislikes",new { id = post.id })" style="margin-left:65px">
                                        <button class="btn icon-btn btn-primary" style="width:120px">
                                            DisLike
                                        </button>

                                    </a>
                                </div><!--/.single-package-item-txt-->
                                
                                <!--/.about-btn-->
                            </div><!--/.single-package-item-txt-->
                        </div><!--/.single-package-item-->

                    </div><!--/.col-->}





            </div><!--/.row-->
        </div>
    </div><!--/.container-->

</section><!--/.packages-->

<section id="subs" class="subscribe">
    <div class="container">
        <div class="subscribe-title text-center">
            <h2>
                Send Your Question Here
            </h2>

        </div>
        @using (Html.BeginForm("ProfileOfTraveller", "Traveller", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <form>
                <div class="row">

                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="custom-input-group">
                            <div class="col-xl-6 col-lg-12 col-md-12">

                                <input id="que" required name="que" type="text" class="form-control" placeholder="Enter your Question Here">


                                <input type="submit" value="Send"style="
    margin-top: 20px;
" class="appsLand-btn subscribe-btn" />

                                <div class="clearfix"></div>

                            </div>

                        </div>

                    </div>
                </div>

            </form>
        }

    </div>

</section>

<footer class="footer-copyright">
    <div class="container">
        <div class="footer-content">
            <div class="row">

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <div class="footer-logo">
                            <a href="index.html">
                                tour<span>Nest</span>
                            </a>
                            <p>
                                best travel agency
                            </p>
                        </div>
                    </div><!--/.single-footer-item-->
                </div><!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2>link</h2>
                        <div class="single-footer-txt">
                            <p><a href="#">home</a></p>
                            <p><a href="#">spacial packages</a></p>
                        </div><!--/.single-footer-txt-->
                    </div><!--/.single-footer-item-->

                </div><!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2>popular destination</h2>
                        <div class="single-footer-txt">
                            <p><a href="#">Egypt</a></p>
                            <p><a href="#">Baly</a></p>
                            <p><a href="#">china</a></p>

                        </div><!--/.single-footer-txt-->
                    </div><!--/.single-footer-item-->
                </div>

                <div class="col-sm-3">
                    <div class="single-footer-item text-center">
                        <h2 class="text-left">contacts</h2>
                        <div class="single-footer-txt text-left">
                            <p>0109654</p>
                            <p class="foot-email"><a href="#">ahmed@fcih.com</a></p>
                            <p>Helwan</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <hr>
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
    </div>

</footer>



<script src="~/assets/js/jquery.js"></script> <!-- Include all compiled plugins (below), or include individual files as needed --> <!--modernizr.min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> <!--bootstrap.min.js-->
<script src="~/assets/js/bootstrap.min.js"></script> <!-- bootsnav js -->
<script src="~/assets/js/bootsnav.js"></script> <!-- jquery.filterizr.min.js -->
<script src="~/assets/js/jquery.filterizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script> <!--jquery-ui.min.js-->
<script src="~/assets/js/jquery-ui.min.js"></script> <!-- counter js -->
<script src="~/assets/js/jquery.counterup.min.js"></script>
<script src="~/assets/js/waypoints.min.js"></script> <!--owl.carousel.js-->
<script src="~/assets/js/owl.carousel.min.js"></script> <!-- jquery.sticky.js -->
<script src="~/assets/js/jquery.sticky.js"></script> <!--datepicker.js-->
<script src="~/assets/js/datepicker.js"></script> <!--Custom JS-->
<script src="~/assets/js/custom.js"></script>

